@import url("https://fonts.googleapis.com/css?family=Merriweather:regular,700,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");
:root {
  --button-color: #f7a428;
  --accent-color: #fac70f;
  --primary-text-color: #ffffff;
  --second-text-color: #bcbcbc;
  --bgc-header: #000000;
  --main-bgc: #04011f;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* ! Form */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  font-family: "Merriweather", sans-serif;
  font-size: 20px;
  color: var(--primary-text-color);
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.button {
  font-size: 1.75rem;
  line-height: 1;
  color: var(--primary-text-color);
  padding: 1.0625rem 2.375rem;
  background-color: var(--button-color);
  border-radius: 0.125rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button:hover {
  background-color: #b26b00;
  color: #adadad;
}
@media (max-width: 425.98px) {
  .button {
    font-size: 1rem;
    padding: 0.8125rem 1.875rem;
  }
}
.button--small {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.8125rem 1.75rem;
}
@media (max-width: 425.98px) {
  .button--small {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1;
    padding: 0.5rem 0.9375rem;
  }
}

.header {
  position: fixed;
  width: 100%;
  background-color: var(--bgc-header);
  z-index: 50;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5.75rem;
     -moz-column-gap: 5.75rem;
          column-gap: 5.75rem;
  row-gap: 0.3125rem;
  min-height: 6.625rem;
}
@media (max-width: 1010.98px) {
  .header__container {
    min-height: 5rem;
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }
}
@media (max-width: 929.98px) {
  .header__container {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
}
@media (max-width: 425.98px) {
  .header__container {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header__action {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 425.98px) {
  .header__action {
    gap: 0.9375rem;
  }
}

.logo {
  font-weight: 700;
  font-style: italic;
  font-size: 1.875rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 3;
}
@media (max-width: 929.98px) {
  .logo {
    font-size: 1.625rem;
  }
}
@media (max-width: 425.98px) {
  .logo {
    font-size: 1.25rem;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.25rem;
     -moz-column-gap: 2.25rem;
          column-gap: 2.25rem;
}
@media (max-width: 1010.98px) {
  .menu {
    -webkit-column-gap: 1.625rem;
       -moz-column-gap: 1.625rem;
            column-gap: 1.625rem;
  }
}
@media (max-width: 929.98px) {
  .menu {
    -webkit-column-gap: 1.375rem;
       -moz-column-gap: 1.375rem;
            column-gap: 1.375rem;
  }
}
@media (max-width: 825.98px) {
  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    padding: 5rem 1.25rem 1.875rem 1.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    background-color: var(--main-bgc);
    overflow: auto;
    row-gap: 1.5625rem;
    -webkit-transition: left 0.5s ease;
    transition: left 0.5s ease;
  }
  .menu::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    height: 5rem;
    width: 100%;
    z-index: 2;
    background-color: var(--bgc-header);
    -webkit-transition: left 0.5s ease;
    transition: left 0.5s ease;
  }
}
.menu__item:hover .menu__link {
  text-decoration: underline;
  color: #adadad;
}
.menu__link {
  line-height: 1;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 929.98px) {
  .menu__link {
    font-size: 1.125rem;
  }
}
@media (max-width: 825.98px) {
  .menu__link {
    font-size: 1.875rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 825.98px) {
  .icon-menu {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    width: 1.875rem;
    height: 1.125rem;
    position: relative;
  }
  .icon-menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.125rem;
    background-color: var(--primary-text-color);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .icon-menu::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.125rem;
    background-color: var(--primary-text-color);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .icon-menu span {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.0625rem;
    width: 100%;
    height: 0.125rem;
    background-color: var(--primary-text-color);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.menu-open .icon-menu span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.menu-open .icon-menu::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
  margin-top: -0.0625rem;
}
.menu-open .icon-menu::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
  margin-bottom: -0.0625rem;
}
.menu-open body {
  overflow: hidden;
}
.menu-open .menu,
.menu-open .menu::before {
  left: 0;
}

.hero {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  overflow: hidden;
}
.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/hero/background-image.webp");
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 4, 56, 0.58);
  z-index: 2;
}
.hero__container {
  position: relative;
  z-index: 3;
}
.hero__content {
  max-width: 41.8125rem;
}
.hero__title {
  font-family: "DM Serif Text", sans-serif;
  font-size: 3.625rem;
  line-height: 1.39;
  margin-bottom: 2rem;
}
@media (max-width: 825.98px) {
  .hero__title {
    font-size: 3rem;
    margin-bottom: 1.375rem;
  }
}
@media (max-width: 587.98px) {
  .hero__title {
    font-size: 1.875rem;
    margin-bottom: 1.125rem;
  }
}
@media (max-width: 425.98px) {
  .hero__title {
    font-size: 1.625rem;
  }
}
.hero__text {
  max-width: 37.8125rem;
  margin: 0 auto 1.8125rem auto;
}
@media (max-width: 825.98px) {
  .hero__text {
    max-width: 35rem;
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 587.98px) {
  .hero__text {
    margin-bottom: 0.9375rem;
  }
}
.hero__text p {
  font-size: 1.125rem;
  line-height: 1.8;
}
@media (max-width: 587.98px) {
  .hero__text p {
    font-size: 1rem;
  }
}