@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Merriweather:regular,700,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:700&display=swap");
:root {
  --button-color: #f7a428;
  --accent-color: #fac70f;
  --primary-text-color: #ffffff;
  --second-text-color: #bcbcbc;
  --third-text-color: #c2c2c2;
  --bgc-header: #000000;
  --main-bgc: #04011f;
  --card-bgc: #050314;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* ! Form */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  font-family: "Merriweather", sans-serif;
  font-size: 20px;
  color: var(--primary-text-color);
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.button {
  font-size: 1.75rem;
  line-height: 1;
  color: var(--primary-text-color);
  padding: 1.0625rem 2.375rem;
  background-color: var(--button-color);
  border-radius: 0.125rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button:hover {
  background-color: #b26b00;
  color: #adadad;
}
@media (max-width: 425.98px) {
  .button {
    font-size: 1rem;
    padding: 0.9375rem 2.0625rem;
  }
}
.button--small {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.8125rem 1.75rem;
}
@media (max-width: 425.98px) {
  .button--small {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1;
    padding: 0.5rem 0.9375rem;
  }
}

.header {
  position: fixed;
  width: 100%;
  background-color: var(--bgc-header);
  z-index: 50;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5.75rem;
     -moz-column-gap: 5.75rem;
          column-gap: 5.75rem;
  row-gap: 0.3125rem;
  min-height: 6.625rem;
}
@media (max-width: 1010.98px) {
  .header__container {
    min-height: 5rem;
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }
}
@media (max-width: 929.98px) {
  .header__container {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
}
@media (max-width: 425.98px) {
  .header__container {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header__action {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 425.98px) {
  .header__action {
    gap: 0.9375rem;
  }
}

.logo {
  font-weight: 700;
  font-style: italic;
  font-size: 1.875rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 3;
}
@media (max-width: 929.98px) {
  .logo {
    font-size: 1.625rem;
  }
}
@media (max-width: 425.98px) {
  .logo {
    font-size: 1.25rem;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.25rem;
     -moz-column-gap: 2.25rem;
          column-gap: 2.25rem;
}
@media (max-width: 1010.98px) {
  .menu {
    -webkit-column-gap: 1.625rem;
       -moz-column-gap: 1.625rem;
            column-gap: 1.625rem;
  }
}
@media (max-width: 929.98px) {
  .menu {
    -webkit-column-gap: 1.375rem;
       -moz-column-gap: 1.375rem;
            column-gap: 1.375rem;
  }
}
@media (max-width: 825.98px) {
  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    padding: 5rem 1.25rem 1.875rem 1.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    background-color: var(--main-bgc);
    overflow: auto;
    row-gap: 1.5625rem;
    -webkit-transition: left 0.5s ease;
    transition: left 0.5s ease;
  }
  .menu::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    height: 5rem;
    width: 100%;
    z-index: 2;
    background-color: var(--bgc-header);
    -webkit-transition: left 0.5s ease;
    transition: left 0.5s ease;
  }
}
.menu__item:hover .menu__link {
  text-decoration: underline;
  color: #adadad;
}
.menu__link {
  line-height: 1;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 929.98px) {
  .menu__link {
    font-size: 1.125rem;
  }
}
@media (max-width: 825.98px) {
  .menu__link {
    font-size: 1.875rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 825.98px) {
  .icon-menu {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    width: 1.875rem;
    height: 1.125rem;
    position: relative;
  }
  .icon-menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.125rem;
    background-color: var(--primary-text-color);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .icon-menu::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.125rem;
    background-color: var(--primary-text-color);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .icon-menu span {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.0625rem;
    width: 100%;
    height: 0.125rem;
    background-color: var(--primary-text-color);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.menu-open .icon-menu span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.menu-open .icon-menu::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
  margin-top: -0.0625rem;
}
.menu-open .icon-menu::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
  margin-bottom: -0.0625rem;
}
.menu-open body {
  overflow: hidden;
}
.menu-open .menu,
.menu-open .menu::before {
  left: 0;
}

.hero {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  overflow: hidden;
}
.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/hero/background-image.webp");
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 4, 56, 0.58);
  z-index: 2;
}
.hero__container {
  position: relative;
  z-index: 3;
}
.hero__content {
  max-width: 41.8125rem;
}
.hero__title {
  font-family: "DM Serif Text", sans-serif;
  font-size: 3.625rem;
  line-height: 1.39;
  margin-bottom: 2rem;
}
@media (max-width: 825.98px) {
  .hero__title {
    font-size: 3rem;
    margin-bottom: 1.375rem;
  }
}
@media (max-width: 587.98px) {
  .hero__title {
    font-size: 1.875rem;
    margin-bottom: 1.125rem;
  }
}
@media (max-width: 425.98px) {
  .hero__title {
    font-size: 1.75rem;
  }
}
.hero__text {
  max-width: 37.8125rem;
  margin: 0 auto 1.8125rem auto;
}
@media (max-width: 825.98px) {
  .hero__text {
    max-width: 35rem;
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 587.98px) {
  .hero__text {
    margin-bottom: 0.9375rem;
  }
}
.hero__text p {
  font-size: 1.125rem;
  line-height: 1.8;
}
@media (max-width: 587.98px) {
  .hero__text p {
    font-size: 1rem;
  }
}

.service {
  padding-top: 10.625rem;
  padding-bottom: 10.625rem;
  background-color: var(--main-bgc);
}
@media (max-width: 984.98px) {
  .service {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
}
@media (max-width: 768.98px) {
  .service {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
@media (max-width: 587.98px) {
  .service {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
}
.service__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8.9375rem;
}
@media (max-width: 1150px) {
  .service__list {
    gap: 3.75rem;
  }
}
@media (max-width: 984.98px) {
  .service__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.5rem;
  }
}
@media (max-width: 768.98px) {
  .service__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.service__item {
  text-align: center;
}
.service__icon {
  margin-bottom: 1.3125rem;
}
.service__sub-title {
  font-family: "DM Serif Text", sans-serif;
  font-size: 1.875rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 768.98px) {
  .service__sub-title {
    font-size: 1.625rem;
  }
}
.service__text {
  font-size: 1.125rem;
  line-height: 1.6;
  color: var(--third-text-color);
}
@media (max-width: 768.98px) {
  .service__text {
    font-size: 1rem;
  }
}

.custom {
  padding-top: 6.875rem;
  padding-bottom: 5rem;
  background-color: var(--main-bgc);
}
@media (max-width: 659.98px) {
  .custom {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
}
.custom__text-block {
  max-width: 37.5rem;
  padding-left: 3.5625rem;
  margin-bottom: 5.875rem;
}
@media (max-width: 968px) {
  .custom__text-block {
    margin-bottom: 3.75rem;
  }
}
@media (max-width: 659.98px) {
  .custom__text-block {
    padding-left: 0rem;
    text-align: center;
    margin-bottom: 1.875rem;
  }
}
.custom__top-text {
  font-family: "Inter", sans-serif;
  font-size: 1.75rem;
  color: var(--accent-color);
  margin-bottom: 0.8125rem;
}
@media (max-width: 656.98px) {
  .custom__top-text {
    font-size: 1.375rem;
  }
}
@media (max-width: 587.98px) {
  .custom__top-text {
    font-size: 1.25rem;
  }
}
.custom__title {
  font-family: "DM Serif Text", sans-serif;
  font-size: 4rem;
  line-height: 1.47;
}
@media (max-width: 656.98px) {
  .custom__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 587.98px) {
  .custom__title {
    font-size: 2.1875rem;
  }
}
.custom__title span {
  position: relative;
  z-index: 1;
}
.custom__title span::after {
  content: "";
  position: absolute;
  bottom: 1.3125rem;
  left: 0;
  width: 100%;
  height: 0.4375rem;
  background-color: var(--accent-color);
  z-index: -1;
}
@media (max-width: 656.98px) {
  .custom__title span::after {
    display: none;
  }
}
.custom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 920px) {
  .custom__list {
    gap: 1.875rem;
  }
}
.custom__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 18.75rem;
          flex: 1 1 18.75rem;
}
.custom__item:first-child {
  max-width: 24.8125rem;
}
.custom__item:first-child img {
  width: 100%;
  max-width: clamp(15.625rem, 45vw, 24.8125rem);
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 397/506;
}
.custom__item:nth-child(2) {
  max-width: 25.875rem;
}
.custom__item:nth-child(2) .custom__wrap img {
  width: 100%;
  max-width: clamp(15.625rem, 45vw, 25.875rem);
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 414/608;
}
.custom__wrap {
  margin-top: -22.5rem;
  margin-bottom: 2.4375rem;
}
@media (max-width: 1160px) {
  .custom__wrap {
    margin-top: -12rem;
  }
}
@media (max-width: 968px) {
  .custom__wrap {
    margin-top: 0rem;
  }
}
.custom__text {
  font-family: "Inter", sans-serif;
  line-height: 1.8;
}
@media (max-width: 458.98px) {
  .custom__text {
    font-size: 1.125rem;
  }
}
@media (max-width: 659.98px) {
  .custom__item {
    max-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .custom__item:first-child img,
  .custom__item:first-child .custom__wrap img, .custom__item:nth-child(2) img,
  .custom__item:nth-child(2) .custom__wrap img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .custom__wrap {
    margin-top: 0;
    margin-bottom: 1.25rem;
  }
}

.product {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: var(--main-bgc);
}
@media (max-width: 659.98px) {
  .product {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
}
.product__side-decor {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 5.625rem;
  z-index: 0;
  pointer-events: none;
}
.product__side-decor svg {
  height: 100%;
  width: 100%;
}
.product__title {
  font-family: "DM Serif Text", sans-serif;
  font-size: 3.625rem;
  line-height: 1;
  text-align: center;
  margin-bottom: 1.6875rem;
}
@media (max-width: 862.98px) {
  .product__title {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 656.98px) {
  .product__title {
    font-size: 3.125rem;
    margin-bottom: 0.9375rem;
  }
}
@media (max-width: 526.98px) {
  .product__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 425.98px) {
  .product__title {
    font-size: 2rem;
    margin-bottom: 0.625rem;
  }
}
@media (max-width: 348.98px) {
  .product__title {
    font-size: 1.75rem;
  }
}
.product__text {
  margin-bottom: 5.4375rem;
}
.product__text p {
  font-family: "Cormorant Infant", sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  text-align: center;
  line-height: 1.4;
  color: var(--second-text-color);
}
@media (max-width: 656.98px) {
  .product__text p {
    font-size: 1.5rem;
  }
}
@media (max-width: 425.98px) {
  .product__text p {
    font-size: 1.375rem;
  }
}
@media (max-width: 348.98px) {
  .product__text p {
    font-size: 1.125rem;
  }
}
@media (max-width: 892.98px) {
  .product__text {
    margin-bottom: 4.625rem;
  }
}
@media (max-width: 862.98px) {
  .product__text {
    margin-bottom: 3.75rem;
  }
}
@media (max-width: 656.98px) {
  .product__text {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 425.98px) {
  .product__text {
    font-size: 2rem;
    margin-bottom: 1.875rem;
  }
}
.product__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.875rem;
}
@media (max-width: 892.98px) {
  .product__list {
    gap: 1.25rem;
  }
}
@media (max-width: 862.98px) {
  .product__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.875rem;
  }
}
@media (max-width: 526.98px) {
  .product__list {
    grid-template-columns: auto;
  }
}
.product__image-wrap {
  margin-bottom: 1.0625rem;
}
.product__image-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 271/270;
  border-radius: 0.3125rem;
}
@media (max-width: 1046px) {
  .product__image-wrap {
    margin-bottom: 0.625rem;
  }
}
@media (max-width: 862.98px) {
  .product__image-wrap {
    margin-bottom: 1.0625rem;
  }
}
@media (max-width: 425.98px) {
  .product__image-wrap {
    font-size: 0.625rem;
  }
}
.product__sub-title {
  font-family: "Cormorant Infant", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 0.25rem;
}
@media (max-width: 1046px) {
  .product__sub-title {
    font-size: 1.25rem;
    margin-bottom: 0.125rem;
  }
}
@media (max-width: 862.98px) {
  .product__sub-title {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
  }
}
@media (max-width: 425.98px) {
  .product__sub-title {
    font-size: 1.125rem;
  }
}
.product__price {
  font-family: "Cormorant Infant", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.4;
}
@media (max-width: 1046px) {
  .product__price {
    font-size: 1.25rem;
  }
}
@media (max-width: 862.98px) {
  .product__price {
    font-size: 1.5rem;
  }
}
@media (max-width: 425.98px) {
  .product__price {
    font-size: 1.125rem;
  }
}

.side-decor {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 5.625rem; /* або як тобі візуально краще */
  z-index: 0; /* під контентом */
  pointer-events: none;
}

.side-decor svg {
  height: 100%;
  width: 100%;
}

.sourced {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: var(--main-bgc);
}
@media (max-width: 659.98px) {
  .sourced {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
}
.sourced__side-decore {
  position: absolute;
  top: -10rem;
  left: 0;
  height: 100%;
  width: 5.625rem;
  z-index: 0;
  pointer-events: none;
}
.sourced__side-decore svg {
  height: 100%;
  width: 100%;
}
.sourced__label {
  font-family: "Inter", sans-serif;
  font-size: 1.75rem;
  color: var(--accent-color);
  margin-bottom: 0.8125rem;
}
@media (max-width: 848.98px) {
  .sourced__label {
    font-size: 1.625rem;
    margin-bottom: 0.6875rem;
  }
}
@media (max-width: 656.98px) {
  .sourced__label {
    font-size: 1.5rem;
  }
}
@media (max-width: 526.98px) {
  .sourced__label {
    font-size: 1.25rem;
  }
}
@media (max-width: 425.98px) {
  .sourced__label {
    font-size: 1.125rem;
    margin-bottom: 0.4375rem;
  }
}
.sourced__title {
  font-family: "DM Serif Text", sans-serif;
  font-size: 4rem;
  line-height: 1.47;
  max-width: 38.375rem;
  margin-bottom: 5.5rem;
}
@media (max-width: 848.98px) {
  .sourced__title {
    font-size: 3.625rem;
    margin-bottom: 4.375rem;
  }
}
@media (max-width: 656.98px) {
  .sourced__title {
    font-size: 3.125rem;
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 526.98px) {
  .sourced__title {
    font-size: 2.5rem;
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 425.98px) {
  .sourced__title {
    font-size: 2rem;
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 338.98px) {
  .sourced__title {
    font-size: 1.75rem;
  }
}
.sourced__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.75rem;
}
@media (max-width: 989.98px) {
  .sourced__list {
    gap: 2.5rem;
  }
}
@media (max-width: 848.98px) {
  .sourced__list {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }
}
@media (max-width: 689.98px) {
  .sourced__list {
    gap: 1.875rem;
  }
}
@media (max-width: 526.98px) {
  .sourced__list {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}
.sourced__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sourced__item--first {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.sourced__item--second {
  -webkit-transform: translateY(-2.4375rem);
      -ms-transform: translateY(-2.4375rem);
          transform: translateY(-2.4375rem);
}
@media (max-width: 848.98px) {
  .sourced__item--second {
    -webkit-transform: translateY(0rem);
        -ms-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}
.sourced__item--third {
  -webkit-transform: translateY(4.9375rem);
      -ms-transform: translateY(4.9375rem);
          transform: translateY(4.9375rem);
}
@media (max-width: 848.98px) {
  .sourced__item--third {
    -webkit-transform: translateY(0rem);
        -ms-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}
.sourced__image {
  width: 100%;
}
@media (max-width: 848.98px) {
  .sourced__image {
    height: 100%;
  }
}
.sourced__image--first {
  margin-bottom: 1.5625rem;
}
@media (max-width: 848.98px) {
  .sourced__image--first {
    margin-bottom: 1.25rem;
  }
}
.sourced__image--second {
  margin-bottom: 1.8125rem;
}
@media (max-width: 848.98px) {
  .sourced__image--second {
    margin-bottom: 1.25rem;
  }
}
.sourced__image--third {
  margin-bottom: 2.25rem;
}
@media (max-width: 848.98px) {
  .sourced__image--third {
    margin-bottom: 1.25rem;
  }
}
.sourced__image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
@media (max-width: 848.98px) {
  .sourced__image img {
    height: 100%;
  }
}
.sourced__text {
  font-family: "Inter", sans-serif;
  line-height: 1.8;
}
@media (max-width: 689.98px) {
  .sourced__text {
    font-size: 1.125rem;
    line-height: 1.4;
  }
}

.best {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 10rem;
  background-color: var(--main-bgc);
}
@media (max-width: 848.98px) {
  .best {
    padding-top: 3.125rem;
    padding-bottom: 6.25rem;
  }
}
@media (max-width: 659.98px) {
  .best {
    padding-bottom: 3.125rem;
  }
}
.best__decore-line {
  position: absolute;
  top: -5.625rem;
  right: 0;
  height: 100%;
  width: 5.625rem;
  z-index: 0;
  pointer-events: none;
}
.best__decore-line svg {
  height: 100%;
  width: 100%;
}
.best__title {
  font-family: "DM Serif Text", sans-serif;
  font-size: 3.625rem;
  line-height: 1;
  margin-bottom: 1.6875rem;
}
@media (max-width: 848.98px) {
  .best__title {
    font-size: 3.25rem;
    margin-bottom: 1.5625rem;
  }
}
@media (max-width: 768.98px) {
  .best__title {
    font-size: 2.75rem;
    margin-bottom: 1.3125rem;
  }
}
@media (max-width: 526.98px) {
  .best__title {
    font-size: 2.5rem;
    margin-bottom: 1.125rem;
  }
}
.best__lable {
  font-family: "Cormorant Infant", sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.4;
  color: var(--second-text-color);
  margin-bottom: 4.125rem;
}
@media (max-width: 848.98px) {
  .best__lable {
    font-size: 1.625rem;
    margin-bottom: 3.125rem;
  }
}
@media (max-width: 768.98px) {
  .best__lable {
    font-size: 1.5rem;
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 526.98px) {
  .best__lable {
    font-size: 1.375rem;
    margin-bottom: 1.25rem;
  }
}
.best__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.8125rem;
}
@media (max-width: 1203px) {
  .best__list {
    gap: 1.875rem;
  }
}
@media (max-width: 768.98px) {
  .best__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 526.98px) {
  .best__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.best__item {
  background-color: var(--card-bgc);
  border: 1px solid rgba(232, 239, 237, 0.29);
  border-radius: 0.3125rem 0.3125rem 0.9375rem 0.9375rem;
}
.best__wrapper-image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 364/265;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.3125rem;
}
.best__wrapper-text {
  padding: 1.5rem 1.5rem 1.125rem 1.5rem;
}
@media (max-width: 616.98px) {
  .best__wrapper-text {
    padding: 1.125rem 1.125rem 0.75rem 1.125rem;
  }
}
.best__sub-title {
  font-family: "DM Serif Text", sans-serif;
  font-size: 1.125rem;
  margin-bottom: 1.4375rem;
}
.best__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  margin-bottom: 1.4375rem;
}
.best__calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}
.best__time {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.06em;
}
.best__description {
  font-family: "DM Serif Text", sans-serif;
  font-size: 1rem;
  text-decoration: underline;
}

.footer {
  position: relative;
  padding-top: 2.375rem;
  border-top: 1px solid rgba(232, 239, 237, 0.29);
  background-color: var(--main-bgc);
}
.footer__decore-line {
  position: absolute;
  top: 4.375rem;
  left: 0;
  height: 100%;
  width: 11.875rem;
  z-index: 0;
  pointer-events: none;
}
.footer__decore-line svg {
  height: 100%;
  width: 100%;
}
.footer__container {
  text-align: center;
}
.footer__contacts {
  margin-bottom: 1.3125rem;
}
@media (max-width: 637.68px) {
  .footer__contacts {
    margin-bottom: 1rem;
  }
}
.footer__phone {
  display: block;
  font-family: "Cormorant Infant", sans-serif;
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 1.4;
  margin-bottom: 0.5625rem;
}
@media (max-width: 637.68px) {
  .footer__phone {
    font-size: 1.625rem;
    margin-bottom: 0.625rem;
  }
}
@media (max-width: 425.68px) {
  .footer__phone {
    font-size: 1.25rem;
  }
}
.footer__email {
  font-family: "Cormorant Infant", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.4;
  margin-bottom: 1.0625rem;
}
@media (max-width: 637.68px) {
  .footer__email {
    font-size: 2.25rem;
    margin-bottom: 0.625rem;
  }
}
@media (max-width: 425.68px) {
  .footer__email {
    font-size: 1.5rem;
  }
}
.footer__address {
  font-family: "Inter", sans-serif;
  font-size: to(16);
  line-height: 1.4;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}
@media (max-width: 637.68px) {
  .footer__socials {
    margin-bottom: 1.375rem;
  }
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.125rem;
  margin-bottom: 4.25rem;
}
.footer__nav a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.4;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.footer__nav a:hover {
  text-decoration: none;
}
@media (max-width: 637.68px) {
  .footer__nav {
    gap: 1.875rem;
    margin-bottom: 2.375rem;
  }
}
@media (max-width: 425.68px) {
  .footer__nav {
    gap: 1.25rem;
  }
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}
@media (max-width: 846.98px) {
  .footer__bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 637.68px) {
  .footer__copyright {
    font-size: 1rem;
    line-height: 1.2;
  }
}