:root {
  --button-color: #f7a428;
  --accent-color: #fac70f;
  --primary-text-color: #ffffff;
  --second-text-color: #bcbcbc;
  --third-text-color: #c2c2c2;
  --bgc-header: #000000;
  --main-bgc: #04011f;
}
