.best {
  position: relative;
  padding-top: toRem(80);
  padding-bottom: toRem(160);
  background-color: var(--main-bgc);

  @media (max-width: 848.98px) {
    padding-top: toRem(50);
    padding-bottom: toRem(100);
  }

  @media (max-width: 659.98px) {
    padding-bottom: toRem(50);
  }

  // .best__decore-line

  &__decore-line {
    position: absolute;
    top: toRem(-90);
    right: 0;
    height: 100%;
    width: toRem(90);
    z-index: 0;
    pointer-events: none;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  // .best__container

  &__container {
  }

  // .best__title

  &__title {
    font-family: "DM Serif Text", sans-serif;
    font-size: toRem(58);
    line-height: 1;

    margin-bottom: toRem(27);

    @media (max-width: 848.98px) {
      font-size: toRem(52);
      margin-bottom: toRem(25);
    }

    @media (max-width: 768.98px) {
      font-size: toRem(44);
      margin-bottom: toRem(21);
    }

    @media (max-width: 526.98px) {
      font-size: toRem(40);
      margin-bottom: toRem(18);
    }
  }

  // .best__lable

  &__lable {
    font-family: "Cormorant Infant", sans-serif;
    font-weight: 700;
    font-size: toRem(30);
    line-height: 1.4;
    color: var(--second-text-color);

    margin-bottom: toRem(66);

    @media (max-width: 848.98px) {
      font-size: toRem(26);
      margin-bottom: toRem(50);
    }

    @media (max-width: 768.98px) {
      font-size: toRem(24);
      margin-bottom: toRem(30);
    }

    @media (max-width: 526.98px) {
      font-size: toRem(22);
      margin-bottom: toRem(20);
    }
  }

  // .best__list

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: toRem(45);

    @media (max-width: 1203px) {
      gap: toRem(30);
    }

    @media (max-width: 768.98px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 526.98px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .best__item

  &__item {
    background-color: var(--card-bgc);
    border: 1px solid rgba(232, 239, 237, 0.29);
    border-radius: toRem(5) toRem(5) toRem(15) toRem(15);
  }

  // .best__wrapper-image

  &__wrapper-image {
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 364/265;
      object-fit: cover;
      border-radius: toRem(5);
    }
  }

  &__wrapper-text {
    padding: toRem(24) toRem(24) toRem(18) toRem(24);

    @media (max-width: 616.98px) {
      padding: toRem(18) toRem(18) toRem(12) toRem(18);
    }
  }

  // .best__sub-title

  &__sub-title {
    font-family: "DM Serif Text", sans-serif;
    font-size: toRem(18);

    margin-bottom: toRem(23);
  }

  // .best__body

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: toRem(20);

    margin-bottom: toRem(23);
  }

  // .best__calendar

  &__calendar {
    display: flex;
    gap: toRem(8);
    font-family: "Inter", sans-serif;
    font-size: toRem(16);
  }

  // .best__time

  &__time {
    font-family: "Inter", sans-serif;
    font-size: toRem(16);
    letter-spacing: 0.06em;
  }

  // .best__description

  &__description {
    font-family: "DM Serif Text", sans-serif;
    font-size: toRem(16);
    text-decoration: underline;
  }
}
