.custom {
  padding-top: toRem(110);
  padding-bottom: toRem(80);
  background-color: var(--main-bgc);

  @media (max-width: 659.98px) {
    padding-top: toRem(50);
    padding-bottom: toRem(50);
  }

  &__container {
  }

  &__text-block {
    max-width: toRem(600);
    padding-left: toRem(57);
    margin-bottom: toRem(94);

    @media (max-width: 968px) {
      margin-bottom: toRem(60);
    }

    @media (max-width: 659.98px) {
      padding-left: toRem(0);
      text-align: center;
      margin-bottom: toRem(30);
    }
  }

  &__top-text {
    font-family: "Inter", sans-serif;
    font-size: toRem(28);
    color: var(--accent-color);
    margin-bottom: toRem(13);

    @media (max-width: 656.98px) {
      font-size: toRem(22);
    }

    @media (max-width: 587.98px) {
      font-size: toRem(20);
    }
  }

  &__title {
    font-family: "DM Serif Text", sans-serif;
    font-size: toRem(64);
    line-height: 1.47;

    @media (max-width: 656.98px) {
      font-size: toRem(40);
    }

    @media (max-width: 587.98px) {
      font-size: toRem(35);
    }

    span {
      position: relative;
      z-index: 1;
      &::after {
        content: "";
        position: absolute;
        bottom: toRem(21);
        left: 0;
        width: 100%;
        height: toRem(7);
        background-color: var(--accent-color);
        z-index: -1;

        @media (max-width: 656.98px) {
          display: none;
        }
      }
    }
  }

  &__list {
    display: flex;
    gap: toRem(56);
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: 920px) {
      gap: toRem(30);
    }
  }

  &__item {
    flex: 1 1 toRem(300);

    &:first-child {
      max-width: toRem(397);

      img {
        width: 100%;
        max-width: clamp(toRem(250), 45vw, toRem(397));
        height: auto;
        display: block;
        object-fit: cover;
        aspect-ratio: 397 / 506;
      }
    }

    &:nth-child(2) {
      max-width: toRem(414);

      .custom__wrap img {
        width: 100%;
        max-width: clamp(toRem(250), 45vw, toRem(414));
        height: auto;
        display: block;
        object-fit: cover;
        aspect-ratio: 414 / 608;
      }
    }
  }

  &__wrap {
    margin-top: toRem(-360);
    margin-bottom: toRem(39);

    @media (max-width: 1160px) {
      margin-top: toRem(-192);
    }

    @media (max-width: 968px) {
      margin-top: toRem(0);
    }
  }

  &__text {
    font-family: "Inter", sans-serif;
    line-height: 1.8;

    @media (max-width: 458.98px) {
      font-size: toRem(18);
    }
  }

  @media (max-width: 659.98px) {
    &__item {
      max-width: 100%;
      flex: 1 1 100%;

      &:first-child,
      &:nth-child(2) {
        img,
        .custom__wrap img {
          max-width: 100%;
          width: 100%;
          height: auto;
        }
      }
    }

    &__wrap {
      margin-top: 0;
      margin-bottom: toRem(20);
    }
  }
}
