.product {
  position: relative;
  padding-top: toRem(80);
  padding-bottom: toRem(80);
  background-color: var(--main-bgc);

  @media (max-width: 659.98px) {
    padding-top: toRem(50);
    padding-bottom: toRem(50);
  }

  // .product__side-decor
  &__side-decor {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: toRem(90);
    z-index: 0;
    pointer-events: none;

    svg {
      height: 100%;
      width: 100%;
    }
  }
  // .product__container

  &__container {
  }

  // .product__title

  &__title {
    font-family: "DM Serif Text", sans-serif;
    font-size: toRem(58);
    line-height: 1;
    text-align: center;

    margin-bottom: toRem(27);

    @media (max-width: 862.98px) {
      margin-bottom: toRem(20);
    }

    @media (max-width: 656.98px) {
      font-size: toRem(50);
      margin-bottom: toRem(15);
    }

    @media (max-width: 526.98px) {
      font-size: toRem(40);
    }

    @media (max-width: 425.98px) {
      font-size: toRem(32);
      margin-bottom: toRem(10);
    }

    @media (max-width: 348.98px) {
      font-size: toRem(28);
    }
  }

  // .product__text

  &__text {
    p {
      font-family: "Cormorant Infant", sans-serif;
      font-weight: 700;
      font-size: toRem(30);
      text-align: center;
      line-height: 1.4;
      color: var(--second-text-color);

      @media (max-width: 656.98px) {
        font-size: toRem(24);
      }

      @media (max-width: 425.98px) {
        font-size: toRem(22);
      }

      @media (max-width: 348.98px) {
        font-size: toRem(18);
      }
    }
    margin-bottom: toRem(87);

    @media (max-width: 892.98px) {
      margin-bottom: toRem(74);
    }

    @media (max-width: 862.98px) {
      margin-bottom: toRem(60);
    }

    @media (max-width: 656.98px) {
      margin-bottom: toRem(40);
    }

    @media (max-width: 425.98px) {
      font-size: toRem(32);
      margin-bottom: toRem(30);
    }
  }

  // .product__list

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: toRem(30);

    @media (max-width: 892.98px) {
      gap: toRem(20);
    }

    @media (max-width: 862.98px) {
      grid-template-columns: repeat(2, 1fr);
      gap: toRem(30);
    }

    @media (max-width: 526.98px) {
      grid-template-columns: auto;
    }
  }

  // .product__item

  &__item {
  }

  // .product__image-wrap

  &__image-wrap {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 271/270;
      border-radius: toRem(5);
    }

    margin-bottom: toRem(17);
    @media (max-width: 1046px) {
      margin-bottom: toRem(10);
    }
    @media (max-width: 862.98px) {
      margin-bottom: toRem(17);
    }

    @media (max-width: 425.98px) {
      font-size: toRem(10);
    }
  }

  // .product__sub-title

  &__sub-title {
    font-family: "Cormorant Infant", sans-serif;
    font-weight: 700;
    font-size: toRem(24);
    line-height: 1.4;

    margin-bottom: toRem(4);

    @media (max-width: 1046px) {
      font-size: toRem(20);
      margin-bottom: toRem(2);
    }

    @media (max-width: 862.98px) {
      font-size: toRem(24);
      margin-bottom: toRem(4);
    }
    @media (max-width: 425.98px) {
      font-size: toRem(18);
    }
  }

  // .product__price

  &__price {
    font-family: "Cormorant Infant", sans-serif;
    font-weight: 700;
    font-size: toRem(24);
    line-height: 1.4;
    @media (max-width: 1046px) {
      font-size: toRem(20);
    }
    @media (max-width: 862.98px) {
      font-size: toRem(24);
    }
    @media (max-width: 425.98px) {
      font-size: toRem(18);
    }
  }
}

.side-decor {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: toRem(90); /* або як тобі візуально краще */
  z-index: 0; /* під контентом */
  pointer-events: none;
}

.side-decor svg {
  height: 100%;
  width: 100%;
}
