.service {
  padding-top: toRem(170);
  padding-bottom: toRem(170);
  background-color: var(--main-bgc);

  @media (max-width: 984.98px) {
    padding-top: toRem(120);
    padding-bottom: toRem(120);
  }

  @media (max-width: 768.98px) {
    padding-top: toRem(80);
    padding-bottom: toRem(80);
  }

  @media (max-width: 587.98px) {
    padding-top: toRem(50);
    padding-bottom: toRem(50);
  }

  // .service__container
  // &__container {
  // }

  // .service__title

  // &__title {
  // }

  // .service__list

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: toRem(143);

    @media (max-width: 1150px) {
      gap: toRem(60);
    }

    @media (max-width: 984.98px) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: toRem(40);
    }

    @media (max-width: 768.98px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .service__item

  &__item {
    text-align: center;
  }

  // .service__icon

  &__icon {
    margin-bottom: toRem(21);
  }

  // .service__sub-title

  &__sub-title {
    font-family: "DM Serif Text", sans-serif;
    font-size: toRem(30);
    // color: #fff;

    margin-bottom: toRem(8);

    @media (max-width: 768.98px) {
      font-size: toRem(26);
    }
  }

  // .service__text

  &__text {
    font-size: toRem(18);
    line-height: 1.6;
    color: var(--third-text-color);

    @media (max-width: 768.98px) {
      font-size: toRem(16);
    }
  }
}
