// .sourced {
//   position: relative;
//   padding-top: toRem(80);
//   padding-bottom: toRem(80);
//   background-color: var(--main-bgc);

//   @media (max-width: 659.98px) {
//     padding-top: toRem(50);
//     padding-bottom: toRem(50);
//   }

//   // .sourced__side-decore

//   &__side-decore {
//     position: absolute;
//     top: toRem(-160);
//     left: 0;
//     height: 100%;
//     width: toRem(90);
//     z-index: 0;
//     pointer-events: none;

//     svg {
//       height: 100%;
//       width: 100%;
//     }
//   }

//   // .sourced__container

//   &__container {
//   }

//   // .sourced__label

//   &__label {
//     font-family: "Inter", sans-serif;
//     font-size: 28px;
//     color: var(--accent-color);

//     margin-bottom: toRem(13);
//   }

//   // .sourced__title

//   &__title {
//     font-family: "DM Serif Text", sans-serif;
//     font-size: toRem(64);
//     line-height: 1.47;
//     max-width: toRem(614);

//     margin-bottom: toRem(88);
//   }

//   // .sourced__list

//   &__list {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     gap: toRem(60);

//     @media (max-width: 989.98px) {
//       gap: toRem(40);
//     }

//     @media (max-width: 848.98px) {
//       grid-template-columns: repeat(2, auto);
//       grid-template-rows: repeat(2, auto);
//     }

//     @media (max-width: 689.98px) {
//       gap: toRem(30);
//     }
//   }

//   // .sourced__item

//   &__item {
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     // .sourced__item--first

//     &--first {
//       transform: translateY(0);

//       img {
//         margin-bottom: toRem(25);
//         aspect-ratio: 370/552;

//         @media (max-width: 989.98px) {
//           margin-bottom: toRem(20);
//         }
//       }
//     }

//     // .sourced__item--second

//     &--second {
//       transform: translateY(toRem(-39));
//       @media (max-width: 848.98px) {
//         transform: translateY(toRem(0));
//       }

//       img {
//         margin-bottom: toRem(29);
//         aspect-ratio: 336/465;
//         @media (max-width: 989.98px) {
//           margin-bottom: toRem(24);
//         }
//         @media (max-width: 848.98px) {
//           aspect-ratio: 370/552;
//         }
//       }
//     }

//     // .sourced__item-third

//     &--third {
//       transform: translateY(toRem(79));
//       @media (max-width: 848.98px) {
//         transform: translateY(toRem(0));
//       }

//       img {
//         margin-bottom: toRem(36);
//         aspect-ratio: 360/523;
//         @media (max-width: 989.98px) {
//           margin-bottom: toRem(31);
//         }

//         @media (max-width: 848.98px) {
//           aspect-ratio: 370/552;
//         }
//       }
//     }
//   }

//   // .sourced__wraper-img

//   img {
//     display: block;
//     width: 100%;
//     height: auto;
//     object-fit: cover;
//     border-radius: toRem(8);

//     @media (max-width: 848.98px) {
//       height: 100%;
//     }
//   }

//   // .sourced__text

//   &__text {
//     font-family: "Inter", sans-serif;
//     line-height: 1.8;
//     @media (max-width: 989.98px) {
//       font-size: toRem(18);
//     }
//   }

//   // .sourced__item-third
// }

.sourced {
  position: relative;
  padding-top: toRem(80);
  padding-bottom: toRem(80);
  background-color: var(--main-bgc);

  @media (max-width: 659.98px) {
    padding-top: toRem(50);
    padding-bottom: toRem(50);
  }

  // .sourced__side-decore

  &__side-decore {
    position: absolute;
    top: toRem(-160);
    left: 0;
    height: 100%;
    width: toRem(90);
    z-index: 0;
    pointer-events: none;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  // .sourced__container

  &__container {
  }

  // .sourced__label

  &__label {
    font-family: "Inter", sans-serif;
    font-size: toRem(28);
    color: var(--accent-color);

    margin-bottom: toRem(13);

    @media (max-width: 848.98px) {
      font-size: toRem(26);
      margin-bottom: toRem(11);
    }
    @media (max-width: 656.98px) {
      font-size: toRem(24);
    }
    @media (max-width: 526.98px) {
      font-size: toRem(20);
    }

    @media (max-width: 425.98px) {
      font-size: toRem(18);
      margin-bottom: toRem(7);
    }
  }

  // .sourced__title

  &__title {
    font-family: "DM Serif Text", sans-serif;
    font-size: toRem(64);
    line-height: 1.47;
    max-width: toRem(614);

    margin-bottom: toRem(88);

    @media (max-width: 848.98px) {
      font-size: toRem(58);
      margin-bottom: toRem(70);
    }

    @media (max-width: 656.98px) {
      font-size: toRem(50);
      margin-bottom: toRem(50);
    }
    @media (max-width: 526.98px) {
      font-size: toRem(40);
      margin-bottom: toRem(30);
    }

    @media (max-width: 425.98px) {
      font-size: toRem(32);
      margin-bottom: toRem(20);
    }

    @media (max-width: 338.98px) {
      font-size: toRem(28);
    }
  }

  // .sourced__list

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: toRem(60);

    @media (max-width: 989.98px) {
      gap: toRem(40);
    }

    @media (max-width: 848.98px) {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
    }

    @media (max-width: 689.98px) {
      gap: toRem(30);
    }
    @media (max-width: 526.98px) {
      grid-template-columns: auto;
      grid-template-rows: auto;
    }
  }

  // .sourced__item

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--first {
      transform: translateY(0);
    }
    &--second {
      transform: translateY(toRem(-39));
      @media (max-width: 848.98px) {
        transform: translateY(toRem(0));
      }
    }
    &--third {
      transform: translateY(toRem(79));
      @media (max-width: 848.98px) {
        transform: translateY(toRem(0));
      }
    }
  }

  // .sourced__image

  &__image {
    width: 100%;
    @media (max-width: 848.98px) {
      height: 100%;
    }

    &--first {
      margin-bottom: toRem(25);
      @media (max-width: 848.98px) {
        margin-bottom: toRem(20);
      }
    }
    &--second {
      margin-bottom: toRem(29);
      @media (max-width: 848.98px) {
        margin-bottom: toRem(20);
      }
    }
    &--third {
      margin-bottom: toRem(36);
      @media (max-width: 848.98px) {
        margin-bottom: toRem(20);
      }
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: toRem(8);
      @media (max-width: 848.98px) {
        height: 100%;
      }
    }
  }

  // .sourced__text

  &__text {
    font-family: "Inter", sans-serif;
    line-height: 1.8;
    @media (max-width: 689.98px) {
      font-size: toRem(18);
      line-height: 1.4;
    }
  }
}
